
<!doctype html>
<html lang="vi">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="robots" content="noindex" />

    <!-- Khai báo config.yml -->
    <link rel="cms-config-url" type="text/yaml" href="/admin/config.yml" />

    <title>Content Manager</title>
  </head>
  <body>
    <!-- Nạp Decap CMS từ CDN -->
    <script src="https://unpkg.com/decap-cms@3/dist/decap-cms.js"></script>
  </body>
</html>
